body {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

    width: 345px;
    height: 484px;
}

.level h3 {
    color: rgba(255, 255, 255, 0.566);
    margin-top: -20px;
}

h1 {
    color: #333;
    font-size: 28px;
}

.left-text {
    text-align: left;
}

#word-grid {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
    margin-top: 20px;
    justify-content: center;
}

.letter-cell {
    width: 50px;
    height: 50px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.letter-cell:hover {
    background-color: #e0e0e0;
}

#word-input-container {
    margin-top: 20px;
}

#word-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#check-word-btn {
    width: 100%;
    padding: 8px;
    background-color: #2575fc; /* Change background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#check-word-btn:hover {
    background-color: #135ddc;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 25px;
    /*animation-name: message;
    animation-duration: 1.5s;
    */
    animation: message 3s;
    -webkit-animation: message 3s;
}

@keyframes message {
    0% { opacity: 0.7;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% { opacity: 0;}
}

.selected {
    background-color: #2575fc;
    color: white;
}
.selected:hover {
    background-color: #2575fc;
    color: white;
}

#logo-container {
    display: flex;
    justify-content: center;
}

#logo-container img {
    width: 800px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

#test {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
#next-to-eachother {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}

.hint-wrap {
    display: flex;
    justify-content: flex-end;
}

#current-word {
    color: #2575fc;
    font-size: 35px;
    height: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    /* background-color: #cecece;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 15px; */
}

#word-list-container {
    /* width: 200px;
    margin-left: 20px; */

    /* text-align: center; */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    color: #333;
    
    margin-left: 30px;

    width: 345px;
    min-height: 484px;
}

#word-list {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
}

#hint-btn {
    background-color: #33333325;
    color: #33333389;
    font-size: 16px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 2px solid #3333332f;
    padding: 3px 6px;
    transition: background-color 0.3s ease;
}
#hint-btn:hover {
    background-color: #33333338;
}

.revealed {
    background-color: #33333352 !important;
}

.empty {
    width: 30px;
    height: 30px;
    border: #333 2px solid;
    color: #135ddc00;
}

.word-box {
    margin-bottom: 20px;
}

.word-box span {
    /* width: 40px;
    height: 40px; */
    padding: 8px 13px;
    background-color: #f9f9f9;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.guessed span {
    background-color: #97c681;
    color: #5d8d47;
}

#nav-container {
    width: 800px;

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;

    margin-bottom: 10px;
}
#nav-container i {
    color: rgba(255, 255, 255, 0.566);
}
#nav-container a {
    font-size: 20px;
    }



.fake-footer {
    background-color: #0a3175;
} .fake-footer p, .fake-footer a {
    color: white !important;
    font-size: 18px !important;
}