/* mobile */
@media (max-width: 768px) {
    :root {
        --width: 90%;
    }
    nav {
        height: auto;
        margin-top: 20px;
    }
    aside {
        width: 100%;
    }
    article {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 15px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
    #articleName {
        margin-top: 50px;
    }
    #back-to-main-screen {
        display: block;
        position: fixed;
        width: calc(100% - 30px);
        background-color: var(--button-background);
        z-index: 999;
    }
    button {
        margin-bottom: 8px;
        margin-right: 5px;
    }
    
    main {
        display: block;
    }
    .image-with-text img {
        max-width: 50%;
    }
}

