#floating-settings-tab {
    width: 450px;
    position: absolute;
    position: fixed;
    bottom: 20px;
    left: calc(50% - 225px);
    background-color: black;
    border-radius: 4px;
    padding: 6px;
    z-index: 999;
}
#floating-settings-tab p {
    color: white !important;
    opacity: 1 !important;
}
#floating-settings-tab .tab {

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}
#floating-settings-menu {
    display: none;
    padding-bottom: 25px;
}
#floating-settings-menu p{
    margin: 0;
}
.menu-navigation {
    background-color: rgb(41, 41, 41);
    border: 1px solid rgb(75, 75, 75);
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 4px;
}
.menu-navigation .menu-item {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 0px 8px;
    border-radius: 4px;
}.menu-navigation .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.active {
    background-color: rgb(80, 80, 80);
}
.delete-button {
    display: flex;
    background-color: #d1081c;
    border: 2px solid #be0012;
    border-radius: 4px;
    margin-bottom: 5px;
}
.delete-button p {
    font-size: 18px;
}
.delete-button img{
    height: 20px;
    width: auto;
}

.floating-current-palette-holder {
    display: flex;
    gap: 5px;
}
.floating-current-palette-holder p {
    padding-left: 5px;
}
.floating-current-palette-holder .color {
    width: calc(100% / 3);
    height: 30px;
    background-color: aqua;
    border-radius: 4px;
}
.palette-item {
    border: 2px solid rgba(255, 255, 255, 0);
}
.palette-item:hover {
    border: 2px solid white;
    cursor: pointer;
}

.floating-tab-button {
    background-color: white;
} .floating-tab-button {
    width: 25px;
    padding: 3px;
    border-radius: 3px;
    height: auto;
} .floating-tab-button:hover {
    cursor: pointer;
    background-color: rgb(203, 202, 202);
}

#floating-current-palette-color1, #floating-current-palette-color2, #floating-current-palette-color3 {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

#floating-settings-tab .small-text {
    font-size: 18px;
    color: rgb(170, 170, 170) !important;
}



.floating-current-palette-holder img {
    width: 20px;
    padding: 3px;
    border-radius: 3px;
    height: auto;
    border: 4px;
    margin-right: 5px;
} .floating-current-palette-holder img:hover {
    background-color: rgba(0, 0, 0, 0.459);
    cursor: pointer;
}

#floating-settings-tab .floating-setting-tab-button {
    color: white;
    text-decoration: none;
    font-weight: normal;
    margin: 0;
    padding: 5px 20px;
} #floating-settings-tab .floating-setting-tab-button:hover {
    cursor: pointer;
}