@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* h1, h2, h3, h4, h5, h6, a, p {
    margin: 0;
} */

h1 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3.1rem;
}

h2 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: semibold;
    font-style: normal;
    font-size: 2.1rem;
}

h3 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: semibold;
    font-style: normal;
    font-size: 1.4rem;
}

a, p, ul li {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1.3rem;
}

ul {
    margin-top: 0;
}