/* https://coolors.co/4e5340-d69a9a-9ad6c0-b7d1da-e2e8dd */
body {
    font-family: Roboto,sans-serif;
}
header {
    background-image: url(img/background.jpg);
    height: 200px;
}
header h1 {
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px 6px black;
}
h2 {
    font-size: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
    color: #358266;
}
.flex {
    width: 300px;
}
#gamemodes-wrap {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}
.grid-test {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-columns: auto;
	grid-auto-rows: auto;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	width: 1000px;
}

.card-link {
    text-decoration: none;
}
.card {
    background-color: white;
    width: 300px;
    border-radius: 4px;
    margin: 20px;

    box-shadow: 4px 4px 10px rgb(218, 218, 218);
    transition: 0.1s;
}
.card:hover {
    transform: scale(1.05);
}
.card-text {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.card-text .easy {
    font-size: 11px !important;
    color: #358266;
    background-color:   #9AD6C0;
    border-radius: 100px;
    padding: 2px 16px;
    font-weight: normal;
    margin-left: 10px;
}
.card-text .hard {
    font-size: 11px !important;
    color: #823535;
    background-color:   #D69A9A;
    border-radius: 100px;
    padding: 2px 16px;
    font-weight: normal;
    margin-left: 10px;
}
.card-text .soon {
    font-size: 11px !important;
    color: #2E1760;
    background-color:   #A88CE3;
    border-radius: 100px;
    padding: 2px 16px;
    font-weight: normal;
    margin-left: 10px;
}

.card h3 {
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding-bottom: 5px;
}
.card p {
    color: gray;
}
.card img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}


